
@import 'reset.scss'; 
@import 'variables.scss'; 

body {
	margin: 0;
	background: $bg-color;
	color: $text-color;
}

.name {
	font-family: $font; 
	font-size: 18px;
	color: $text-color;
}

.btn {
	border: 2px solid $brand-color;
	color: $brand-color;
	background: none;
	outline: none;
}

.box {
	background: $bg-content;
}
.brand {
	color: $brand-color;
}
.ua {
	display: none;
}
.wrapper {
	padding: $step; 
}

header {
	background: $bg-brand; 
	height: calc(100vh-160px);
	margin: 0 0 $step;
	display: flex;
	overflow:hidden;
}

.heading {
	position: fixed; 
	width: 100%; 
	height: $step; 
	background: $bg-color;
	top: 0; 
	left: 0; 
	z-index: 50; 
}

.heading-content {
  display: flex; 
  justify-content: space-between;
  height: 21px; 
  margin: 43px 80px 21px 80px;
}

.hero {
  background: #F5F5F5;
  flex-grow: 1;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  transition: transform 3s; }
  .welcome-text {
    display: block;
    font-family: $font; 
    font-weight: 900;
    font-size: 100px;
    color: $text-color;
    transform: translateX(-50%); 
 }

.info { 
	position: relative;
	flex-grow: 1; 
	flex-basis: 50%;
 }

.info-text {
  position: absolute;
  width: 600px;
  bottom: 0;
  left: 160px;
  opacity: 0;
  transition: 3s;
}

date {
	font-family: $font; 
	font-style: italic;
	font-size: 18px;
	color: $brand-color;
}

.position {
	font-family: $font; 
	font-weight: bold;
	font-size: 32px;
	color: #000;
	margin-bottom: 32px;
}

.description {
	font-family: $font; 
	font-size: 32px;
	color: $text-color;
}

header:hover .hero {
	transform: translate(150%);
	transition: transform 2s ease-in; 
}

header:hover .info-text {
	opacity: 1; 
	transform: translateY(-150%);
	transition: transform 5s ease-in 5s, opacity 5s delay 5s;
}

/*burger-menu*/
.menu {
	display: none; 
}

.btn-burger {
  position: fixed;
  top: 50%;
  left: 0;
  cursor: pointer; 
  z-index: 50;
}

.burger {
     position: relative;
     display: block;
     width: 48px;
     height: 31px;
     margin: 0 54px;
     border-top: 5px solid $brand-color;
     border-bottom: 5px solid $brand-color;
}
.burger:before {
     content: "";
     position: absolute;
     top: 8px;
     left: 8px;
     width: 100%;
     border-top: 5px solid $brand-color;
}

/*social links*/
.links {
	position: fixed; 
	top: 0; 
	right: 0; 
	height: 100vh; 
	display: flex; 
	flex-direction: column;
	justify-content: center;
	margin: 0 28px;
	.social-icon {
		margin-bottom: 16px; 
		transition: transform 1s;
	} 
}

.social-icon:hover {
	transform: rotate(360deg);
	transition: 1s;
}

/*parallax image*/
.parallax {
	background-image: url(../img/comp_img.png);
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*skills*/
.skills-set{
	background: $bg-content;
	margin: 80px 0;
	padding: 80px;
	display: flex;
	flex-direction: column; 	
}

.section-title {
	font-family: $font;
	font-size: 80px;
	font-weight: bold;
	text-transform: uppercase; 
	color: $text-color;
	margin-bottom: 32px;
}

.skill-text {
	font-family: $font;
	font-size: 32px;
}

.progress {
	margin-bottom: 32px;
}

.progress-bar {
	display: flex;
	position: relative;
}

.skill-dot {
	position: absolute;
	left: 520px;
	top: 25%;
	width: 14px;
	height: 14px;
	border-radius: 50%; 
	background: $brand-color;
}

.skill-css {
	position: absolute;
	background: $brand-color;
	border-radius: 7px;
	left: 520px;
	top: 25%;
	height: 14px;
	width: 90%;
	opacity: 0;
	transition: transform 3s;
}

.skills-set:hover .skill-css {
	opacity: 1;
	transition: opacity 3s;
}



/*dark-theme*/
.dark-theme {
	background: $bg-color-dark;
	.btn {
		border: 2px solid $brand-color-dark;
		color: $brand-color-dark;
	}
	.brand {
		color: $brand-color-dark;
	}
	.en {
		display: none;
	}
	.ua {
		display: block;
	}
}

