
@import 'reset.scss'; 
@import 'variables.scss'; 

body {
	margin: 0;
	background: $bg-color;
	color: $text-color;
}

.name {
	font-family: $font; 
	font-size: 18px;
	color: $text-color;
}

.btn {
	border: 2px solid $brand-color;
	color: $brand-color;
	background: none;
	outline: none;
}

.box {
	background: $bg-content;
}
.brand {
	color: $brand-color;
}
.ua {
	display: none;
}
.wrapper {
	padding: $step; 
}

header {
	background: $bg-brand; 
	height: calc(100vh-160px);
	margin: 0 0 $step;
	display: flex;
	overflow:hidden;
}

.heading {
	position: fixed; 
	width: 100%; 
	height: $step; 
	background: $bg-color;
	top: 0; 
	left: 0; 
	z-index: 20; 
}

.heading-content {
  display: flex; 
  justify-content: space-between;
  height: 21px; 
  margin: 43px 80px 21px 80px;
}

.hero {
  background: #F5F5F5;
  flex-grow: 1;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  transition: transform 3s; }
  .welcome-text {
    display: block;
    font-family: $font; 
    font-weight: 900;
    font-size: 100px;
    color: $text-color;
    transform: translateX(-50%); 
 }

.info { 
	position: relative;
	flex-grow: 1; 
	flex-basis: 50%;
 }

.info-text {
  position: absolute;
  width: 600px;
  top: 30%;
  left: -600px;
  margin-left: 120px;
  opacity: 0;
  transition: 5s;
}

.brand-color-text {
	font-family: $font; 
	font-style: italic;
	font-size: 18px;
	color: $brand-color;
	margin-bottom: 8px; 
}

.bold-font {
	font-family: $font; 
	font-weight: bold;
	font-size: 32px;
	color: #000;
	margin-bottom: 32px;
}

.description {
	font-family: $font; 
	font-size: 32px;
	color: $text-color;
}

header:hover .hero {
	transform: translateY(170%);
	transition: transform 3s ease-in; 
}

header:hover .info-text {
	opacity: 1; 
	transform: translateX(100%);
	transition: transform 1s ease-out 1s, opacity 1s delay 0.5s;
}

.info-text-little {
	display: none;
}

/*burger-menu*/
.menu {
	display: none; 
	position: fixed;
}

.btn-burger {
  position: fixed;
  top: 50%;
  left: 0;
  cursor: pointer; 
  z-index: 60;
}

.burger {
     position: relative;
     display: block;
     width: 48px;
     height: 31px;
     margin: 0 54px;
     border-top: 5px solid $brand-color;
     border-bottom: 5px solid $brand-color;
}
.burger:before {
     content: "";
     position: absolute;
     top: 8px;
     left: 8px;
     width: 100%;
     border-top: 5px solid $brand-color;
}

.menu-open .burger {
	visibility:hidden;
}

.menu-open .burger-cross {
	position: relative;
	display: block;
	width: 48px;
	height: 5px;
	background: $brand-color;
	top: 50%;
  	left: $step;
  	margin: -24px;
  	cursor: pointer; 
  	z-index: 50;
  	transition: transform 0.5s;
}

.menu-open .burger-cross:before {
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 48px;
	height: 5px;
	background: $brand-color;
	transition: transform 0.5s;
}

.menu-open .burger-cross {
	transform: rotate(45deg);
}

.menu-open .burger-cross:before {
	transform: rotate(-90deg);
}

.menu-open .menu {
	display: block; 
	height: 100vh;
	width: 40%;
	background: $bg-color;
	position: fixed; 
	left: 80px; 
	z-index: 30;
	padding: $step;
	margin-bottom: 80px; 
	opacity: 0.8;
	.bold-font {
		text-decoration: none; 
	}
}

.menu-open .menu:hover {
	opacity: 1;
	border-right: 5px solid $brand-color;
}

li {
	margin-bottom: 32px;
}

.menu-open .menu-list {
	margin-bottom: $step;
}

.menu-open .tel {
	position: static;
}

.menu-open .hero {
	opacity: 0; 
}

.menu-open .info-text {
	display: none;
}

.menu-open .info-text-little {
	display: block;
	position: absolute;
	width: 480px;
	right: -500px;
	top: $step;
}

/*social links*/
.links {
	position: fixed; 
	top: 0; 
	right: 0; 
	height: 100vh; 
	display: flex; 
	flex-direction: column;
	justify-content: center;
	margin: 0 28px;
	.social-icon {
		margin-bottom: 16px; 
		transition: transform 1s;
	} 
}

.social-icon:hover {
	transform: rotate(360deg);
	transition: 1s;
}

/*parallax image*/
.parallax {
	background-image: url(../img/comp_img.png);
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*skills*/
.skills-set{
	background: $bg-content;
	margin: 80px 0;
	padding: 80px;
	display: flex;
	flex-direction: column; 
}

.section-title {
	font-family: $font;
	font-size: 80px;
	font-weight: bold;
	text-transform: uppercase; 
	color: $text-color;
	margin-bottom: 32px;
}

.skill-text {
	font-family: $font;
	font-size: 32px;
	color: $text-color;
	min-width: 400px; 
}

.progress {
	margin-bottom: 32px;
	display: flex; 
	width: 100%;
}

.progressbar {
	display: flex;
	align-items: center;
	flex-grow: 1;
}

.progressbar-dot {
	justify-content: flex-start;
	width: 14px;
	height: 14px;
	border-radius: 50%; 
	background: $brand-color;
	z-index: 5;
}

.progressbar-1 {
	background: $brand-color;
	color: $text-color;
	border-radius: 7px;
	align-items: center;
	margin-left: -14px;
	justify-content: flex-start;
	height: 14px;
	width: 10%;
	opacity: 0;
	transition: opacity 3s;
}

.progressbar-2 {
	background: $brand-color;
	color: $text-color;
	border-radius: 7px;
	align-items: center;
	margin-left: -14px;
	justify-content: flex-start;
	height: 14px;
	width: 20%;
	opacity: 0;
	transition: opacity 3s;
}

.progressbar-3 {
	background: $brand-color;
	color: $text-color;
	border-radius: 7px;
	align-items: center;
	margin-left: -14px;
	justify-content: flex-start;
	height: 14px;
	width: 30%;
	opacity: 0;
	transition: opacity 3s;
}

.progressbar-4 {
	background: $brand-color;
	color: $text-color;
	border-radius: 7px;
	align-items: center;
	margin-left: -14px;
	justify-content: flex-start;
	height: 14px;
	width: 40%;
	opacity: 0;
	transition: opacity 3s;
}

.progressbar-5 {
	background: $brand-color;
	color: $text-color;
	border-radius: 7px;
	align-items: center;
	margin-left: -14px;
	justify-content: flex-start;
	height: 14px;
	width: 50%;
	opacity: 0;
	transition: opacity 3s;
}

.progressbar-6 {
	background: $brand-color;
	color: $text-color;
	border-radius: 7px;
	align-items: center;
	margin-left: -14px;
	justify-content: flex-start;
	height: 14px;
	width: 60%;
	opacity: 0;
	transition: opacity 3s;
}

.progressbar-7 {
	background: $brand-color;
	color: $text-color;
	border-radius: 7px;
	align-items: center;
	margin-left: -14px;
	justify-content: flex-start;
	height: 14px;
	width: 70%;
	opacity: 0;
	transition: opacity 3s;
}

.progressbar-8 {
	background: $brand-color;
	color: $text-color;
	border-radius: 7px;
	align-items: center;
	margin-left: -14px;
	justify-content: flex-start;
	height: 14px;
	width: 80%;
	opacity: 0;
	transition: opacity 3s;
}

.progressbar-9 {
	background: $brand-color;
	color: $text-color;
	border-radius: 7px;
	align-items: center;
	margin-left: -14px;
	justify-content: flex-start;
	height: 14px;
	width: 90%;
	opacity: 0;
	transition: opacity 3s;
}

.skill-grade {
	font-family: $font;
	font-size: 32px;
	color: $text-color;
	justify-content: flex-end;
	opacity: 0;
	transition: opacity 3s;
}

.skills-set:hover .skill-grade, .skills-set:hover .progressbar-1, 
.skills-set:hover .progressbar-2, .skills-set:hover .progressbar-3, 
.skills-set:hover .progressbar-4, .skills-set:hover .progressbar-5,
.skills-set:hover .progressbar-6, .skills-set:hover .progressbar-7, 
.skills-set:hover .progressbar-8, .skills-set:hover .progressbar-9
  {
  opacity: 1;
}

/*projects*/

.projects {
	background: #353535;
	margin: 80px 0;
	padding: 80px 80px 0 80px;
}

.projects .section-title {
color: $bg-brand;
}

.projects .brand-color-text {
	display: block;
	margin-bottom: 0; 
	padding-bottom: 80px; 
	text-decoration: none; 
}

.projects .brand-color-text:hover {
	text-decoration: underline;
}

.project-name {
	font-family: $font;
	font-size: 32px;
	font-weight: bold;
	color: $bg-color;
	margin-bottom: 16px; 
}

.project-description {
	font-family: $font;
	font-size: 32px;
	color: $bg-content;
	margin-bottom: 8px; 
}

/*Experience*/
.experience {
	background: $bg-content;
	margin: 80px 0;
	padding: 80px;
}

.experience .bold-font {
	margin-bottom: 0; 
}

.job {
	margin-bottom: 46px;
}

.certificate-link {
	font-family: $font; 
	font-style: italic;
	text-decoration: none;
	font-size: 18px;
	line-height: 20px; 
	color: $brand-color;
}

.certificate-link:hover {
	text-decoration: underline;
}
.arrow {
	margin: 0 10px; 
	vertical-align: middle;
}

footer {
	position: relative;
}
.email {
	text-decoration: none; 
	padding: 8px 0;
}

.email:hover {
	text-decoration: underline;
}

.tel {
	display: block;
	position: absolute; 
	top: 0; 
	right: 0;
	font-size: 18px;
	font-family: $font; 
	color: $text-color;
	text-decoration: none;
	margin-bottom: 40px; 
}

/*dark-theme*/
.dark-theme {
	background: $bg-color-dark;
	.btn{
		border: 2px solid $brand-color-dark;
		color: $brand-color-dark;
	}
	.brand {
		color: $brand-color-dark;
	}
	.heading {
	background: $bg-color-dark;
	}
	.name {
	color: $bg-content;
	}
	header {
	background: $bg-content-dark; 
	}
	.brand-color-text {
	color: $brand-color-dark;
	}
	.menu-open header {
		background: $bg-content;
	}
/*burger-menu*/
	.burger {
     border-top: 5px solid $brand-color-dark;
     border-bottom: 5px solid $brand-color-dark;
	}
	.burger:before {
	     border-top: 5px solid $brand-color-dark;
	}
	.menu-open .burger-cross {
		background: $brand-color-dark;
	}
	.menu-open .burger-cross:before {
		background: $brand-color-dark;
	}
	.menu-open .menu {
	background: $bg-content-dark;
	}
	.menu-open .menu:hover {
	border-right: 5px solid $brand-color-dark;
	}
	/*social links*/
	.links * {
		fill: $brand-color-dark;
	}
	/*parallax image*/
	.parallax {
	background-image: url(../img/comp_img_dark.jpg);
	}
	/*skills*/
	.progressbar-dot {
		background: $bg-content-dark;
	}
	.progressbar-1 {
		background: $bg-content-dark;
	}
	.progressbar-2 {
		background: $bg-content-dark;
	}
	.progressbar-3 {
		background: $bg-content-dark;
	}
	.progressbar-4 {
		background: $bg-content-dark;
	}
	.progressbar-5 {
		background: $bg-content-dark;
	}
	.progressbar-6 {
		background: $bg-content-dark;
	}
	.progressbar-7 {
		background: $bg-content-dark;
	}
	.progressbar-8 {
		background: $bg-content-dark;
	}
	.progressbar-9 {
		background: $bg-content-dark;
	}
	.projects {
	background: $bg-color-dark;
	border: 5px solid $bg-content-dark;
	}
	.projects .section-title {
	color: $bg-content-dark;
	}
	.arrow * {
	fill: $brand-color-dark;
	}
	.certificate-link {
	color: $brand-color-dark; 
	}
	.email {
		color: $bg-color;
	}
	footer .arrow * {
		fill: $bg-color;
	}
	footer .tel {
		color: $bg-color;
	}
}

