/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*:before,
*:after {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  margin: 0;
  background: #fff;
  color: #272822; }

.name {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #272822; }

.btn {
  border: 2px solid #F92672;
  color: #F92672;
  background: none;
  outline: none; }

.box {
  background: #F5F5F5; }

.brand {
  color: #F92672; }

.ua {
  display: none; }

.wrapper {
  padding: 80px; }

header {
  background: #e6db74;
  height: calc(100vh-160px);
  margin: 0 0 80px;
  display: flex;
  overflow: hidden; }

.heading {
  position: fixed;
  width: 100%;
  height: 80px;
  background: #fff;
  top: 0;
  left: 0;
  z-index: 20; }

.heading-content {
  display: flex;
  justify-content: space-between;
  height: 21px;
  margin: 43px 80px 21px 80px; }

.hero {
  background: #F5F5F5;
  flex-grow: 1;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  transition: transform 3s; }

.welcome-text {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 100px;
  color: #272822;
  transform: translateX(-50%); }

.info {
  position: relative;
  flex-grow: 1;
  flex-basis: 50%; }

.info-text {
  position: absolute;
  width: 600px;
  bottom: 0;
  left: 160px;
  opacity: 0;
  transition: 2s; }

.brand-color-text {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 18px;
  color: #F92672;
  margin-bottom: 8px; }

.bold-font {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: #000;
  margin-bottom: 32px; }

.description {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  color: #272822; }

header:hover .hero {
  transform: translate(150%);
  transition: transform 2s ease-in; }

header:hover .info-text {
  opacity: 1;
  transform: translateY(-100%);
  transition: transform 5s ease-in 5s, opacity 1s delay 5s; }

.info-text-little {
  display: none; }

/*burger-menu*/
.menu {
  display: none;
  position: fixed; }

.btn-burger {
  position: fixed;
  top: 50%;
  left: 0;
  cursor: pointer;
  z-index: 60; }

.burger {
  position: relative;
  display: block;
  width: 48px;
  height: 31px;
  margin: 0 54px;
  border-top: 5px solid #F92672;
  border-bottom: 5px solid #F92672; }

.burger:before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 100%;
  border-top: 5px solid #F92672; }

.menu-open .burger {
  visibility: hidden; }

.menu-open .burger-cross {
  position: relative;
  display: block;
  width: 48px;
  height: 5px;
  background: #F92672;
  top: 50%;
  left: 80px;
  margin: -24px;
  cursor: pointer;
  z-index: 50;
  transition: transform 0.5s; }

.menu-open .burger-cross:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 5px;
  background: #F92672;
  transition: transform 0.5s; }

.menu-open .burger-cross {
  transform: rotate(45deg); }

.menu-open .burger-cross:before {
  transform: rotate(-90deg); }

.menu-open .menu {
  display: block;
  height: 100vh;
  width: 40%;
  background: #fff;
  position: fixed;
  left: 80px;
  z-index: 30;
  padding: 80px;
  margin-bottom: 80px;
  opacity: 0.8; }
  .menu-open .menu .bold-font {
    text-decoration: none; }

.menu-open .menu:hover {
  opacity: 1;
  border-right: 5px solid #F92672; }

li {
  margin-bottom: 32px; }

.menu-open .menu-list {
  margin-bottom: 80px; }

.menu-open .tel {
  position: static; }

.menu-open .hero {
  opacity: 0; }

.menu-open .info-text {
  display: none; }

.menu-open .info-text-little {
  display: block;
  position: absolute;
  width: 480px;
  right: -500px;
  top: 80px; }

/*social links*/
.links {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 28px; }
  .links .social-icon {
    margin-bottom: 16px;
    transition: transform 1s; }

.social-icon:hover {
  transform: rotate(360deg);
  transition: 1s; }

/*parallax image*/
.parallax {
  background-image: url(../img/comp_img.png);
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

/*skills*/
.skills-set {
  background: #F5F5F5;
  margin: 80px 0;
  padding: 80px;
  display: flex;
  flex-direction: column; }

.section-title {
  font-family: "Roboto", sans-serif;
  font-size: 80px;
  font-weight: bold;
  text-transform: uppercase;
  color: #272822;
  margin-bottom: 32px; }

.skill-text {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  color: #272822;
  min-width: 400px; }

.progress {
  margin-bottom: 32px;
  display: flex;
  width: 100%; }

.progressbar {
  display: flex;
  align-items: center;
  flex-grow: 1; }

.progressbar-dot {
  justify-content: flex-start;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #F92672;
  z-index: 5; }

.progressbar-1 {
  background: #F92672;
  color: #272822;
  border-radius: 7px;
  align-items: center;
  margin-left: -14px;
  justify-content: flex-start;
  height: 14px;
  width: 10%;
  opacity: 0;
  transition: opacity 3s; }

.progressbar-2 {
  background: #F92672;
  color: #272822;
  border-radius: 7px;
  align-items: center;
  margin-left: -14px;
  justify-content: flex-start;
  height: 14px;
  width: 20%;
  opacity: 0;
  transition: opacity 3s; }

.progressbar-3 {
  background: #F92672;
  color: #272822;
  border-radius: 7px;
  align-items: center;
  margin-left: -14px;
  justify-content: flex-start;
  height: 14px;
  width: 30%;
  opacity: 0;
  transition: opacity 3s; }

.progressbar-4 {
  background: #F92672;
  color: #272822;
  border-radius: 7px;
  align-items: center;
  margin-left: -14px;
  justify-content: flex-start;
  height: 14px;
  width: 40%;
  opacity: 0;
  transition: opacity 3s; }

.progressbar-5 {
  background: #F92672;
  color: #272822;
  border-radius: 7px;
  align-items: center;
  margin-left: -14px;
  justify-content: flex-start;
  height: 14px;
  width: 50%;
  opacity: 0;
  transition: opacity 3s; }

.progressbar-6 {
  background: #F92672;
  color: #272822;
  border-radius: 7px;
  align-items: center;
  margin-left: -14px;
  justify-content: flex-start;
  height: 14px;
  width: 60%;
  opacity: 0;
  transition: opacity 3s; }

.progressbar-7 {
  background: #F92672;
  color: #272822;
  border-radius: 7px;
  align-items: center;
  margin-left: -14px;
  justify-content: flex-start;
  height: 14px;
  width: 70%;
  opacity: 0;
  transition: opacity 3s; }

.progressbar-8 {
  background: #F92672;
  color: #272822;
  border-radius: 7px;
  align-items: center;
  margin-left: -14px;
  justify-content: flex-start;
  height: 14px;
  width: 80%;
  opacity: 0;
  transition: opacity 3s; }

.progressbar-9 {
  background: #F92672;
  color: #272822;
  border-radius: 7px;
  align-items: center;
  margin-left: -14px;
  justify-content: flex-start;
  height: 14px;
  width: 90%;
  opacity: 0;
  transition: opacity 3s; }

.skill-grade {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  color: #272822;
  justify-content: flex-end;
  opacity: 0;
  transition: opacity 3s; }

.skills-set:hover .skill-grade, .skills-set:hover .progressbar-1,
.skills-set:hover .progressbar-2, .skills-set:hover .progressbar-3,
.skills-set:hover .progressbar-4, .skills-set:hover .progressbar-5,
.skills-set:hover .progressbar-6, .skills-set:hover .progressbar-7,
.skills-set:hover .progressbar-8, .skills-set:hover .progressbar-9 {
  opacity: 1; }

/*projects*/
.projects {
  background: #353535;
  margin: 80px 0;
  padding: 80px; }

.projects .section-title {
  color: #e6db74; }

.projects .brand-color-text {
  display: block;
  margin-bottom: 80px;
  text-decoration: none; }

.projects .brand-color-text:hover {
  text-decoration: underline; }

.project-name {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 16px; }

.project-description {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  color: #F5F5F5;
  margin-bottom: 8px; }

/*Experience*/
.experience {
  background: #F5F5F5;
  margin: 80px 0;
  padding: 80px; }

.experience .bold-font {
  margin-bottom: 0; }

.job {
  margin-bottom: 46px; }

.certificate-link {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
  color: #F92672; }

.certificate-link:hover {
  text-decoration: underline; }

.arrow {
  margin: 0 10px;
  vertical-align: middle; }

footer {
  position: relative; }

.email {
  text-decoration: none;
  padding: 8px 0; }

.email:hover {
  text-decoration: underline; }

.tel {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: #272822;
  text-decoration: none;
  margin-bottom: 40px; }

/*dark-theme*/
.dark-theme {
  background: #222629;
  /*burger-menu*/
  /*social links*/
  /*parallax image*/
  /*skills*/ }
  .dark-theme .btn {
    border: 2px solid #87C232;
    color: #87C232; }
  .dark-theme .brand {
    color: #87C232; }
  .dark-theme .heading {
    background: #222629; }
  .dark-theme .name {
    color: #F5F5F5; }
  .dark-theme header {
    background: #618930; }
  .dark-theme .brand-color-text {
    color: #87C232; }
  .dark-theme .menu-open header {
    background: #F5F5F5; }
  .dark-theme .burger {
    border-top: 5px solid #87C232;
    border-bottom: 5px solid #87C232; }
  .dark-theme .burger:before {
    border-top: 5px solid #87C232; }
  .dark-theme .menu-open .burger-cross {
    background: #87C232; }
  .dark-theme .menu-open .burger-cross:before {
    background: #87C232; }
  .dark-theme .menu-open .menu {
    background: #618930; }
  .dark-theme .menu-open .menu:hover {
    border-right: 5px solid #87C232; }
  .dark-theme .links * {
    fill: #87C232; }
  .dark-theme .parallax {
    background-image: url(../img/comp_img_dark.jpg); }
  .dark-theme .progressbar-dot {
    background: #618930; }
  .dark-theme .progressbar-1 {
    background: #618930; }
  .dark-theme .progressbar-2 {
    background: #618930; }
  .dark-theme .progressbar-3 {
    background: #618930; }
  .dark-theme .progressbar-4 {
    background: #618930; }
  .dark-theme .progressbar-5 {
    background: #618930; }
  .dark-theme .progressbar-6 {
    background: #618930; }
  .dark-theme .progressbar-7 {
    background: #618930; }
  .dark-theme .progressbar-8 {
    background: #618930; }
  .dark-theme .progressbar-9 {
    background: #618930; }
  .dark-theme .projects {
    background: #222629; }
  .dark-theme .projects .section-title {
    color: #618930; }
  .dark-theme .arrow * {
    fill: #87C232; }
  .dark-theme .certificate-link {
    color: #87C232; }
  .dark-theme .email {
    color: #fff; }
  .dark-theme footer .arrow * {
    fill: #fff; }
